<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Post not found</title>
        <link href="/static/style/404.css" rel="stylesheet">
    </head>
    <body>
        <div class="message-container">
            <h1 class="message-title">Post not found</h1>
            <p class="message-text">
                Unfortunately, the post with <strong>ID {{ blog_id }}</strong> not found. Probably, the author removed it or moved to drafts.
            </p>
            <a href="/posts" class="button">See published posts</a>
        </div>
        
    </body>
</html>
